html, body {
    height: 100%;
    background-color: rgb(95, 46, 148);
    margin: 0;

    .MainContainer {
        height: 100%;

        .MainMenu {
            height: 30px;
            text-align: left;
            background-color: #ebebeb;
            background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
            background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);

            .MenuItem {
                height: 20px;
                display: inline-block;
                margin: 2px 15px 0 30px;
                font-weight: 600;
                font-size: initial;
                cursor: pointer;
                padding: 4px 10px 0 10px;

                &:hover {
                    color: rgb(245, 252, 244);
                }

                &.Selected {
                    background-color: rgb(124, 78, 174);
                    color: rgb(245, 252, 244);
                }
            }
        }

        .CaseBuilderContainer {
            width: 100%;
            height: ~"calc(100% - 40px)";
        }
    }
}
