@CodeEditorStaticContent: #aaaaaa;

html, body {
    height: 100%;
    background-color: rgb(0,0,0);
    margin: 0;

    .MainContainer {
        height: 100%;
        /*background-image: url(../img/background.png);*/
        .MainMenu {
            height: 30px;
            text-align: left;
            background-color: #f6f6f6;
            background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
            background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);

            .MenuItem {
                height: 20px;
                display: inline-block;
                margin: 2px 15px 0 20px;
                font-weight: 600;
                font-size: initial;
                cursor: pointer;
                padding: 4px 10px 0 10px;
                color: rgb(46, 46, 46);

                &:hover {
                    color: rgb(98, 98, 98);
                }

                &.Selected {
                    background-color: rgb(124, 78, 174);
                    color: rgb(245, 252, 244);
                }

                &.MoreMargin {
                    margin-left: 80px;
                }
            }

            .QTB-Logo {
                height: 30px;
                width: 50px;
                margin-left: 20px;
                display: inline-block;
                position: absolute;
                background-image: url(../img/QTB_Sprits.png);
                background-position: 151px 678px;
            }
        }

        .AppContainer {
            width: 100%;
            height: ~"calc(100% - 50px)";

            .TestBuilderContainer {
                height: 100%;

                & > .Headers {
                    text-align: center;
                    margin: 15px 0 5px 0;
                    color: white;
                }

                .ProjectTreeContainer {
                    float: left;
                    margin-left: 1%;
                    width: 25%;
                    height: ~"calc(100% - 75px)";
                    display: inline-block;
                    background-color: rgb(244, 243, 243);
                    margin-right: 5px;
                    border-radius: 10px 0 0 10px;

                    .ProjectBuilderToolbar {
                        height: 35px;
                        padding: 5px 5px 0 10px;
                    }

                    .ProjectTree {
                        /*color: #ffffff;*/
                        .TreeSprite {
                            height: 16px;
                            width: 16px;
                            display: inline-block;

                            &.Project {
                            }

                            &.Module {
                            }

                            &.TestCase {
                            }

                            &.Callback {
                            }
                        }
                        /*.k-in {
                            margin: 0;
                            padding: 0;
                            border: none;
                            display: inline-block;

                            .TreeItem {
                                display: inline-block;
                                margin: 1px 0 1px .16666em;
                                padding: 1px .3333em 1px .25em;
                                line-height: 1.3333em;
                                text-decoration: none;
                                border-style: solid;
                                border-width: 1px;
                                border-radius: 5px;

                                &.Project {
                                    background-image: linear-gradient(rgba(134, 0, 255,0.9) 0,rgba(134, 0, 255,0.6) 100%);
                                    border-color: rgb(134, 0, 255);
                                }

                                &.Module {
                                    background-image: linear-gradient(rgba(134, 0, 255,0.9) 0,rgba(134, 0, 255,0.6) 100%);
                                    border-color: rgb(134, 0, 255);
                                }

                                &.TestCase {
                                    background-image: linear-gradient(rgba(134, 0, 255,0.9) 0,rgba(134, 0, 255,0.6) 100%);
                                    border-color: rgb(134, 0, 255);
                                }

                                &.Callback {
                                    background-image: linear-gradient(rgba(134, 0, 255,0.9) 0,rgba(134, 0, 255,0.6) 100%);
                                    border-color: rgb(134, 0, 255);
                                }
                            }
                        }*/
                    }
                }

                .ProjectEditorContainer {
                    width: 73%;
                    height: ~"calc(100% - 75px)";
                    display: inline-block;
                    background-color: rgb(244, 243, 243);
                    border-radius: 0 10px 10px 0;

                    .Headers {
                        padding-left: 20px;

                        .Value {
                            margin-left: 15px;
                        }
                    }

                    .ProjectEditorContent {
                        .Headers {
                            .Field {
                                margin: 0 0 10px 40px;

                                .Value {
                                    margin-left: 10px;
                                }
                            }
                        }

                        .EditorTable {
                            margin-left: 50px;
                            width: ~"calc(100% - 60px)";

                            tr {
                                td {
                                    padding: 8px;

                                    &:first-child {
                                        max-width: 50px;
                                    }
                                    /*following code can be removed*/
                                    /*.CodeMirror {
                                        width: 100%;

                                        .CodeMirror-sizer {
                                            margin-left: 30px !important;

                                            .CodeMirror-lines {
                                                padding: 20px 0 !important;
                                            }

                                            .Header {
                                                position: absolute;
                                                top: 0;
                                                color: @CodeEditorStaticContent;
                                            }

                                            .Footer {
                                                position: absolute;
                                                bottom: 0;
                                                color: @CodeEditorStaticContent;
                                            }
                                        }
                                    }*/
                                }
                            }
                        }

                        .Buttons {
                            padding-left: 300px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }

        .qbIcon {
            margin-left: 10px;
            display: inline-block;
            height: 32px;
            width: 32px;
            background-image: url(../img/icons.png);
            cursor: pointer;

            &.addProject {
                background-position: 362px 182px;
            }

            &.openProject {
                background-position: 313px 230px;
            }

            &.addModule {
                background-position: 413px 183px;
            }

            &.addTest {
                background-position: 412px 232px;
            }

            &.addCallback {
                background-position: 313px 282px;
            }

            &.deleteItem {
                background-position: 362px 282px;
            }
        }
    }

    .k-window {
        .WindowWidget {
            .addNewProjectForm {
                .CreateProject {
                    margin: 10px;
                }
            }
        }
    }
}
