<!-- code builder selection -->
<tr data-bind="visible:App.Editor.EditorData.Type)===('TestCase'">
    <td></td>
    <td>
        <input type="checkbox" data-bind="checked:App.Editor.EditorData.WriteCustomCode, events:{change:App.EventHandlers.ChangeState}" /><span>Write Custom code</span>
    </td>
</tr>
<!-- code builder selection end -->
<!-- code builder -->
<tr data-bind="visible:App.Editor.EditorData.Type)===('TestCase')))))&&(((((d.App.Editor.EditorData.WriteCustomCode">
    <td>
        <span>Your code:</span>
    </td>
    <td>
        <textarea class="CodeEditor" data-bind="value:App.Editor.EditorData.CodeContent"></textarea>
    </td>
</tr>
<!-- code builder end -->

<!-- App.Editor.EditorData.Type)===('TestCase'))))||(((((d.App.Editor.EditorData.Type)===('Callback'))))))&&(((((d.App.Editor.EditorData.WriteCustomCode -->

<!-- App.Editor.EditorData.WriteCustomCode)))))))))&&((((((d.App.Editor.EditorData.Type)===('TestCase')||(((((d.App.Editor.EditorData.Type)===('Callback') -->

<!-- App.Editor.EditorData.Type)===('TestCase' -->