<div class="TestBuilderContainer">
    <h3 class="Headers">Unit Test Builder</h3>
    <div class="ProjectTreeContainer">
        <div class="ProjectBuilderToolbar"></div>
        <div class="ProjectTree" data-bind="source:App.Project"></div>
    </div>
    <div class="ProjectEditorContainer">
        <h3 class="Headers" data-bind="visible:App.Project.length">
            <span class="Key" title="Project Title">Project Title:</span>
            <span class="Value" title="Project Title" data-bind="text:App.Project[0].Name"></span>
        </h3>
        <div class="ProjectEditorContent" data-bind="visible:App.Editor.EditorData.Id">
            <table class="EditorTable">
                <tr>
                    <!-- Name -->
                    <td>
                        <span data-bind="text:App.Editor.EditorData.Type"></span>
                        <span>Name:</span>
                    </td>
                    <td>
                        <input class="k-textbox" placeholder="Enter Name" data-bind="value:App.Editor.EditorData.Name" type="text" />
                    </td>
                </tr>
                <!-- Name end -->

                <!-- Type -->
                <tr>
                    <td>
                        <span>Type:</span>
                    </td>
                    <td>
                        <span data-bind="text:App.Editor.EditorData.Type"></span>
                    </td>
                </tr>
                <!-- Type end -->

                <!-- Sub type for test case -->
                <tr data-bind="visible:App.Editor.EditorData.Type)===('TestCase'">
                    <td>
                        <span>Sub Type:</span>
                    </td>
                    <td>
                        <span data-bind="source:App.Enums.TestCaseType, value:App.Editor.EditorData.SubType" data-role="dropdownlist" data-text-field="DisplayName" data-value-field="Name"></span>
                    </td>
                </tr>
                <!-- Sub type for test case end -->

                <!-- Sub type for module level callback -->
                <tr data-bind="visible:App.Editor.EditorData.SubType)===('ModuleLevelCallback'">
                    <td>
                        <span>Callback Type:</span>
                    </td>
                    <td>
                        <span data-bind="source:App.Enums.ModuleLevelCallback, value:App.Editor.EditorData.CallbackName" data-role="dropdownlist" data-text-field="DisplayName" data-value-field="Name"></span>
                    </td>
                </tr>
                <!-- Sub type for module level callback end -->

                <!-- Sub type for project level callback -->
                <tr data-bind="visible:App.Editor.EditorData.SubType)===('ProjectLevelCallback'">
                    <td>
                        <span>Callback Type:</span>
                    </td>
                    <td>
                        <span data-bind="source:App.Enums.ProjectLevelCallback, value:App.Editor.EditorData.CallbackName" data-role="dropdownlist" data-text-field="DisplayName" data-value-field="Name"></span>
                    </td>
                </tr>
                <!-- Sub type for project level callback end -->

                <!-- code builder -->
                <tr data-bind="visible:App.Editor.EditorData.Type)===('TestCase'">
                    <td>
                        <span>Build your code:</span>
                    </td>
                    <td>
                        <div class="CodeBuilder" data-bind="source:App.Editor.EditorData.CodeContent" data-role="listview" ></div>
                    </td>
                </tr>
                <!-- code builder end -->
            </table>

            <div class="Buttons">
                <span class="k-button" data-bind="invisible:App.Editor.EditMode" data-action="add">Add</span>
                <span class="k-button" data-bind="visible:App.Editor.EditMode" data-action="update">Update</span>
            </div>
        </div>
    </div>
</div>
