<div class="TestItemContainer" data-test-id="#=data.testId#">
    <h2 class="Headers">Test Case: </h2>
    <div class="Field"><span class="Key" title="Test Case Title">Test Case Title: </span><input class="k-textbox TestCaseTitleTextbox" placeholder="Enter Test Case Title" title="Enter Test Case Title" type="text" data-bind="value:TestCaseTitle" /></div>
    <div class="Field"><span class="Key" title="Test Case Title">Test Case Title: </span><input class="k-textbox TestCaseTitleTextbox" placeholder="Enter Test Case Title" title="Enter Test Case Title" type="text" data-bind="value:TestCaseTitle" /></div>
</div>